* {
    margin: 0px;
    padding: 0px;
    font-family: "LatoBold";
    text-decoration: none;
}
a {
    color: #fff;
}
.container {
    width: 1020px;
    margin: 0 auto;
}
.header-top {
    background-color: #2d303a;
    height: 89px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.header-bottom {
    height: 6px;
    background-color: #323746;
}
.singolo-name {
    font-size: 25px;
    margin-left: 40px;
    letter-spacing: -0.5px;
    margin-top: 29px;
}
.singolo-name:after {
    content: "*";
    color: #f06c64;
}
ul {
    margin-right: 40px;
    font-size: 12px;
}
li {
    display: inline-block;
    list-style-type: none;
    margin-left: 21px;
}
li + li:before {
    content: '.';
    position: relative;
    bottom: 3px;
    left: -13px;
    font-weight: 400;
    font-size: 19px;
    color: #494e62;
}
li a:hover {
    color: #f06c64;
    transition: 0.3s;
}

/* SLIDER */

.slider-top {
    height: 594px;
    background-color: #f06c64;
    position: relative;
}
.slider-bottom {
    height: 6px;
    background-color: #ea676b;
}
.phone-vertical {
    position: absolute;
    left: 112px;
    top: 53px;
}
.phone-horizontal {
    position: absolute;
    left: 425px;
    top: 174px;
}
.left {
    position: absolute;
    left: 42px;
    top: 281px;
}
.right {
    position: absolute;
    transform: rotateY(180deg);
    right: 40px;
    top: 281px;
}
.right,
.left:hover {
    cursor: pointer;
}

/* FOOTER */

.footer-top {
    background-color: #f2f2f2;
    height: 494px;
    color: #666d89;
    font-size: 18px;
}
.footer-bottom {
    background-color: #fff;
    height: 6px;
}
h2 {
    font-size: 30px;
    padding-top: 58.5px;
    padding-left: 40px;
}
.p-one {
    font-family: "LatoLight";
    padding-left: 40px;
    padding-top: 18px;
    padding-bottom: 43px;
    line-height: 30px;
}
.menu {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    width: 933px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menu-block {
    display: flex;
    width: 295px;
    padding-bottom: 29px;
}
.menu-block h3 {
    padding-bottom: 9px;
    font-size: 18px;
}
.menu-block img {
    padding-right: 20px;
    padding-bottom: 27px;
}
.menu-block p {
    font-family: "LatoRegular";
    font-size: 12px;
    color: #767e9e;
    width: 220px;
    text-align: justify;
    line-height: 1.75;
}
